version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    groups:
      prisma:
        patterns:
          - "@prisma/*"
          - "prisma"
      dev-dependencies:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
        exclude-patterns:
          - "prisma"
      production-dependencies:
        dependency-type: "production"
        update-types:
          - "patch"
        exclude-patterns:
          - "@prisma/*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
