name: 'ci'

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    environment: development
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.11.0+sha512.6540583f41cc5f628eb3d9773ecee802f4f9ef9923cc45b69890fb47991d4b092964694ec3a4f738a420c918a333062c8b925d312f42e4f0c263eb603551f977
      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Install Playwright Dependencies
        run: pnpm exec playwright install chromium --with-deps
      - name: Run lint
        run: pnpm biome check --changed ./src

      - name: Run typecheck
        run: pnpm typecheck

      - name: Run unit tests
        run: pnpm test
